.wrapper
  .question
    = test.question
  .question_wrapper
    = test.question_wrapper
  .select
    = check_box_tag :select
    = label_tag :select, test.select1
  .select
    = check_box_tag :select
    = label_tag :select, test.select2
  .select
    = check_box_tag :select
    = label_tag :select, test.select3
  .select
    = check_box_tag :select
    = label_tag :select, test.select4