.wrapper
  .question
    = test.question
  .question_wrapper
    = test.question_wrapper
  .select
    ①:
    = test.select1
  .select
    ②:
    = test.select2
  .select
    ③:
    = test.select3
  .select
    ④:
    = test.select4 